<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="" UFT-8">
  <meta name="viewport" content="" width=device-width, initial-scale="1.0">
  <title>Edit - PasswordKeepR</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/edit.css" />
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/edit.js"></script>

</head>

<body>
  <%- include('./partials/header') %>
    <main>
      <section class="edit-account">
        <div class="website-logo-container">
          <img src="<%= websiteData.logo %>" alt="Website Logo">
        </div>

        <!-- Form for editing URL -->
        <form action="/edit/url" method="POST">
          <div class="info-field">
            <label for="url">URL</label>
            <input type="url" id="url" name="url" placeholder="Enter new URL here" value="<%= websiteData.url %>"
              required>
          </div>
          <input type="hidden" name="websiteId" value="<%= websiteData.id %>">
          <button type="submit">Update URL</button>
        </form>

        <!-- Form for editing Username -->
        <form action="/edit/username" method="POST">
          <div class="info-field">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter new username here"
              value="<%= websiteData.username %>" required>
          </div>
          <input type="hidden" name="websiteId" value="<%= websiteData.id %>">
          <button type="submit">Update Username</button>
        </form>

        <!-- Form for editing Password -->
        <form action="/edit/password" method="POST">
          <div class="info-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter new password here" required>
          </div>
          <input type="hidden" name="websiteId" value="<%= websiteData.id %>">
          <button type="submit">Update Password</button>
        </form>

        <!-- Form for editing Category -->
        <form action="/edit/category" method="POST">
          <div class="info-field">
            <fieldset>
              <legend>Please select a category:</legend>
              <div>
                <input type="radio" id="socialCategory" name="category" value="social" />
                <label for="socialCategory">Social</label>

                <input type="radio" id="workCategory" name="category" value="work" />
                <label for="workCategory">Work</label>

                <input type="radio" id="entertainmentCategory" name="category" value="entertainment" />
                <label for="entertainmentCategory">Entertainment</label>

                <input type="radio" id="foodCategory" name="category" value="food" />
                <label for="foodCategory">Food</label>
              </div>
            </fieldset>
<!--             <label for="category">Category</label>
            <input type="password" id="password" name="password" placeholder="Enter new password here" required> -->
          </div>
          <input type="hidden" name="websiteId" value="<%= websiteData.id %>">
          <button type="submit">Update Category</button>
        </form>

      </section>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>
