<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content=""width=device-width, initial-scale="1.0">
  <title>Vault - PasswordKeepR</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/vault.css" />
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/footer.css">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/routes/vault.js"></script>
  <script src="/helpers/copyToClipboard.js"></script>

</head>
<body>
  <%- include('./partials/header') %>

  <main>
    <section class="profile">
      <img src="<%= user.profile_photo %>" alt="Profile Picture">
      <div>
        <label>Username:</label>
        <span><%= user.user_name %></span>
      </div>
      <div>
        <label>Organization:</label>
        <span><%= organization.name %></span>
      </div>
      <input type="text" placeholder="Search Password">
    </section>
    <section class="passwordList">
      <% if (websites && websites.length > 0) { %>
        <% websites.forEach(website => { %>
          <div class="website-item">
            <p><strong>Name:</strong> <%= website.name %></p>
            <p><strong>URL:</strong> <a href="<%= website.url %>" target="_blank"><%= website.url %></a></p>

            <a href="/edit?websiteId=<%= website.id %>">Edit</a>
            <button onclick="copyPasswordToClipboard('<%= website.url %>')">Copy Password</button>
      </div>
          </div>
        <% }) %>
      <% } else { %>
        <p>No websites found.</p>
      <% } %>
    </section>

  </main>
  <%- include('./partials/footer') %>
</body>
</html>
